
    <body>
        <h1><font face="Arial" size="20px" color="#FF7A59"> 
            Check here credit card default risk</font></h1>
    <form action = "/" method = "post">
    <p> Enter the Annual Income :</p>
       
    <p><input type = "number"  name = "income"></p>
    <p> Please Enter the Age :</p>
       
    <p><input type = "number"  name = "age"></p>

    <p> Please Enter loan Amount :</p>
       
    <p><input type = "number"  name = "loan"></p>

    <p><input type = "submit" value = "Enter"></p>

    </form> 
     <p>DecisionTree {{result1}}</p>
     <p>RandomForest {{result2}}</p>
     <p>XGboost {{result3}}</p>

    </body>
</html>